sudo: false
language: php
php:
  - '5.6'
before_script:
    - export TZ='UTC'
    - composer self-update
    - composer install
script:
  ./vendor/bin/phpunit --configuration phpinit.xml --testsuite UnitTest
